:root {
  --background: #181818;
  --background-secondary: #1c1c1c;
  --background-tertiary: #383838;
  --text-primary: #ffffff;
  --text-secondary: #b1b1b1;
  --text-muted: #4e4e4e;
  --stroke: #d3d3d3;
  --accent: #ad61ff;
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  background-color: var(--background-tertiary);
  color: var(--text-primary);
  font-family: var(--font-montserrat), Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input {
  font: inherit;
}

button {
  cursor: pointer;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,h2,h3,p {
  margin: 0;
}
